div img#logo-navbar {
  height: auto;
  width: auto;
  padding-left: 1rem;
  margin: 0;
}

div#Editor.stage0{
  width: 50rem;
}

html body .is-unclickable{
  pointer-events: none;
  opacity: 0.5;
}

html body .is-centered{
  display: block;
  margin-left: auto;
  margin-right:auto;
}

.stage1 #stage1NextButton{
  float: right;
  position: absolute;
  right:    0;
  bottom:   0;
}

.stage1 #contrastPercentage{
  font-size: 4rem;
}

.stage1 #lockButton{
  display: block;
  margin-left:  auto;
  margin-right: auto;
  width: 225px;
}

.stage1 #contrastPercentageViewer{
  display: block;
  margin-left:  auto;
  margin-right: auto;
  width: 225px;
  text-align: center;
  padding-left: 0;
  padding-right:0;
}

.stage1 .title{
  position:relative;
}

.stage1 .advancedButton{
  float: right;
  position: absolute;
  right:    0;
  bottom:   0;
  margin-bottom: 5px;
}

.stage1 .advancedPicker{
  margin: auto;
}

.stage1 .columns{
  max-width: 100%;
}

.stage1 .productStage{
  padding:0;
}

.stage1 .editor{
  padding-top: 0;
}

.stage1 .editor1.container{
  padding-top:0;
}

.stage1 .customTags{
  padding: 12px 0 0 0;
}

.stage1 #Editor{
  height:100%;
}

.stage1 .editor1 {
  padding: 12px 0 0 0;
  height:100%;

}

.stage1 #body_container{
  margin:auto;
}

.stage1 #qrcode-container{
  margin:0;
}

.transparentBackground {
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


/* Editor1 */

.editor1.container{
  width:auto;
}


/* Editor0 */
/* .stage0 .spacing {
  width:auto;
  height: 4rem;
  transition: height 1000ms;
}

.stage0 .spacing.squish {
  height: 0rem ;
} */

.editor0 .field {
  margin-top: 6rem;
  transition: margin-top 1000ms;
}

.editor0 .field.squish {
  margin-top: 2rem ;
}

/* ProductStage */
.productStage.hide {
  opacity:0;
  transition: opacity 1000ms;
}

.productStage {
  opacity:1;
  transition: opacity 1000ms;
}

@media only screen and (max-width: 600px) {
  .stage0 #qrcode-container-wrapper{
    display: inline-block;
    width:70vw;
    margin-left:15vw;
  }


}

@media only screen and (min-width: 600px) {
  .stage0 #qrcode-container-wrapper{
    width: 30%;
    min-width: 270px;
    margin:auto;
  }

  .stage1 #qrcode-container-wrapper{
    width: 30%;
    min-width: 270px;
  }
}

.stage0 .editor0-textarea{
  max-width: 80vw;
  margin: auto;
}

.stage0 #stage0NextButton{
  display: block;
  width: 100%;
  min-width: 270px;
  margin: auto;
}

.customTagWrapper{
  position: relative;
  display: block;
}

.customTag {
  display: block;
  margin:0;
  width:auto;
  height:auto;
  padding:0;
}

.tags {
  display: block;
}

.customTagWrapper{
  margin-bottom: 2rem;
}
