div img#logo-navbar {
  height: auto;
  width: auto;
  padding-left: 1rem;
  margin: 0;
}

div#Editor.stage0{
  width: 50rem;
}

.stage1 .columns{
  max-width: 100%;
}



/* Editor0 */
/* .stage0 .spacing {
  width:auto;
  height: 4rem;
  transition: height 1000ms;
}

.stage0 .spacing.squish {
  height: 0rem ;
} */

.editor0 .field {
  margin-top: 5rem;
  transition: margin-top 1000ms;
}

.editor0 .field.squish {
  margin-top: 2rem ;
}

/* ProductStage */
.productStage.hide {
  opacity:0;
  transition: opacity 1000ms;
}

.productStage {
  opacity:1;
  transition: opacity 1000ms;
}

@media only screen and (max-width: 600px) {
  .stage0 #qrcode-container-wrapper{
    display: inline-block;
    width:70vw;
    margin-left:15vw;
  }
}

@media only screen and (min-width: 600px) {
  .stage0 #qrcode-container-wrapper{
    width: 30%;
    min-width: 270px;
    margin:auto;
  }
}

.stage0 .editor0-textarea{
  max-width: 80vw;
  margin: auto;
}

.stage0 #stage0NextButton{
  display:block;
  width: 30%;
  min-width: 270px;
  margin: auto;
}
